@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}


@layer components {
  .home-body {
    @apply h-screen max-h-full bg-[#0f0f0f] font-inter w-full
  }

  .app-bg {
    @apply bg-gradient-to-br from-red-500 to-indigo-600;
  }

  .game-bg{
    @apply   bg-gradient-to-r from-gray-500 to-stone-600;
  }
 
}

.card-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}